@use "typography";
@use "boilerplate";
@use "colors";
@use "shared-classes";
@use "todo-item";
@use "add-item";

/* 
    Main
*/

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  background: no-repeat url("../../images/bg-mobile-dark.jpg");
  background-color: var(--bg);
  &[data-theme="dark"] {
    color: var(--font-primary);
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  width: 85%;
  margin-top: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  h1 {
    letter-spacing: 5px;
  }
}

.status-bar {
  display: flex;
  justify-content: center;
  padding: 1em;
  border-radius: 5px;
  background-color: var(--item-bg);
  gap: 1rem;
  color: var(--font-sec);
  &__button:hover {
    color: white;
  }
  .selected {
    color: var(--selected-blue);
  }
}

.d-none {
  display: none;
}

.info {
  color: var(--font-sec);
  text-align: center;
  margin-top: 1rem;
}
