/* 
    Typography
*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
}

.text-xs {
  font-size: var(--text-xs);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-md {
  font-size: var(--text-md);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-xxl {
  font-size: var(--text-xxl);
}

.text-xxxl {
  font-size: var(--text-xxxl);
}

/* 
    Boilerplate
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  background-color: inherit;
  border: none;
  font: inherit;
}

/* 
    Colors
*/
:root {
  --selected-blue: hsl(220, 98%, 61%);
  --check-bg: linear-gradient( hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --bg-dark: hsl(240, 20%, 12%);
  --bg-light: hsl(236, 33%, 92%);
  --item-bg-dark: hsl(235, 24%, 19%);
  --item-bg-light: hsl(0, 0%, 98%);
  --font-primary-dark: hsl(236, 33%, 92%);
  --font-primary-light: hsl(235, 19%, 35%);
  --font-sec-dark: hsl(234, 11%, 52%);
  --font-sec-light: hsl(236, 9%, 61%);
  --btn-hover-dark: white;
  --btn-hover-light: hsl(235, 19%, 35%);
}

/*
### Primary

- Bright Blue: hsl(220, 98%, 61%)
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)


### Neutral

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%)

### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%) */
/* 
    Shared classes
*/
.custom-checkbox-container, .item__label {
  position: relative;
  cursor: pointer;
}
.custom-checkbox-container input, .item__label input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.custom-checkbox-container input:checked ~ .custom-checkbox, .item__label input:checked ~ .custom-checkbox {
  border: none;
  background: var(--check-bg);
}
.custom-checkbox-container input:checked ~ .custom-checkbox .custom-checkbox__fill, .item__label input:checked ~ .custom-checkbox .custom-checkbox__fill {
  display: none;
}

@media (hover: hover) {
  .custom-checkbox-container:hover input ~ .custom-checkbox {
    border: none;
    background: var(--check-bg);
  }
}
.custom-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
}
.custom-checkbox__fill {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border-radius: 50%;
}

body[data-theme=dark] .custom-checkbox {
  border: 1px solid var(--font-sec-dark);
  background-color: var(--item-bg-dark);
}
body[data-theme=dark] .custom-checkbox__fill {
  background: var(--item-bg-dark);
}

body[data-theme=light] .custom-checkbox {
  border: 1px solid var(--font-sec-light);
  background-color: var(--item-bg-light);
}
body[data-theme=light] .custom-checkbox__fill {
  background: var(--item-bg-light);
}

/* 
    Todo item
*/
#list-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
#list-container input:checked ~ label {
  text-decoration: line-through;
}
#list-container > label {
  display: flex;
  align-items: center;
}

body[data-theme=dark] #list-container {
  background-color: var(--item-bg-dark);
}
body[data-theme=dark] #list-container input:checked ~ label {
  color: var(--font-sec-dark);
}
body[data-theme=dark] .list-container__footer {
  color: var(--font-sec-dark);
}

body[data-theme=light] #list-container {
  background-color: var(--item-bg-light);
}
body[data-theme=light] #list-container input:checked ~ label {
  color: var(--font-sec-light);
}
body[data-theme=light] .list-container__footer {
  color: var(--font-sec-light);
}

.list-container__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.list-container__footer .status-bar {
  display: none;
}

.item__label {
  display: flex;
  flex-grow: 1;
  padding: 20px 0 20px 25px;
  align-items: center;
  margin-right: 0;
}
.item__label .custom-checkbox {
  margin-right: 0.5rem;
}
.item__label label {
  flex-grow: 1;
  overflow-wrap: anywhere;
  cursor: pointer;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(233, 14%, 35%);
}

.remove-item {
  padding: 1rem;
  cursor: pointer;
}
.remove-item img {
  width: 15px;
}

@media (hover: hover) {
  .item:hover .remove-item {
    visibility: visible;
  }
  .remove-item {
    visibility: hidden;
  }
  .remove-item:hover > img {
    scale: 150%;
  }
}
@media (hover: none) {
  .remove-item:active > img {
    scale: 150%;
  }
}
/* 
    Add item
*/
.add-item-form {
  margin-top: 1rem;
}

#add-item-form {
  display: flex;
  padding: 20px 20px 20px 25px;
  border-radius: 5px;
}
#add-item-form input {
  flex-grow: 1;
}
#add-item-form label:first-child {
  position: absolute;
  left: -1000px;
}
#add-item-form .custom-checkbox-container {
  margin-right: 0.5rem;
}

body[data-theme=dark] #add-item-form {
  background-color: var(--item-bg-dark);
}
body[data-theme=dark] #add-item-form input {
  color: var(--font-primary-dark);
}
body[data-theme=dark] #add-item-form input::-moz-placeholder {
  color: var(--font-sec-dark);
}
body[data-theme=dark] #add-item-form input::placeholder {
  color: var(--font-sec-dark);
}

body[data-theme=light] #add-item-form {
  background-color: var(--item-bg-light);
}
body[data-theme=light] #add-item-form input {
  color: var(--font-primary-light);
}
body[data-theme=light] #add-item-form input::-moz-placeholder {
  color: var(--font-sec-light);
}
body[data-theme=light] #add-item-form input::placeholder {
  color: var(--font-sec-light);
}

/* 
    Main
*/
body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  background-size: contain;
}
body[data-theme=dark] {
  background: no-repeat url("../../images/bg-mobile-dark.jpg");
  background-size: contain;
  background-color: var(--bg-dark);
  color: var(--font-primary-dark);
}
body[data-theme=light] {
  background: no-repeat url("../../images/bg-mobile-light.jpg");
  background-size: contain;
  background-color: var(--bg-light);
  color: var(--font-primary-light);
}
body[data-theme=light] h1 {
  color: var(--item-bg-light);
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  width: clamp(340px, 70%, 500px);
  margin-top: clamp(3rem, 10%, 6rem);
}

.header {
  display: flex;
  justify-content: space-between;
}
.header h1 {
  letter-spacing: 5px;
}
.header button {
  width: 25px;
  height: 25px;
}

.status-bar {
  display: flex;
  justify-content: center;
  padding: 1em;
  border-radius: 5px;
  gap: 1rem;
}
.status-bar .selected {
  color: var(--selected-blue);
}

.info {
  text-align: center;
  margin-top: 1rem;
}

body[data-theme=dark] .status-bar {
  background-color: var(--item-bg-dark);
  color: var(--font-sec-dark);
}
@media (hover: hover) {
  body[data-theme=dark] .status-bar__button:hover {
    color: var(--btn-hover-dark);
  }
}
body[data-theme=dark] .info {
  color: var(--font-sec-dark);
}

body[data-theme=light] .status-bar {
  background-color: var(--item-bg-light);
  color: var(--font-sec-light);
}
@media (hover: hover) {
  body[data-theme=light] .status-bar__button:hover {
    color: var(--btn-hover-light);
  }
}
body[data-theme=light] .info {
  color: var(--font-sec-light);
}

@media screen and (min-width: 450px) {
  body[data-theme=dark] {
    background: no-repeat url("../../images/bg-desktop-dark.jpg");
    background-size: contain;
    background-color: var(--bg-dark);
  }
  body[data-theme=light] {
    background: no-repeat url("../../images/bg-desktop-light.jpg");
    background-size: contain;
    background-color: var(--bg-light);
  }
}
@media screen and (min-width: 600px) {
  main > .status-bar {
    display: none;
  }
  .list-container__footer > .status-bar {
    padding: 0;
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */